[Desktop Entry]
Encoding=UTF-8
Name=Haru
Comment=Haru [CAT] Hybrid P2P Cryptocurrency
Comment[fr]=Haru, monnaie virtuelle cryptographique pair à pair
Comment[tr]=Haru, eşten eşe kriptografik sanal para birimi
Exec=/usr/bin/Haru
Terminal=false
Type=Application
Icon=/share/pixmaps/denarius-128.png
MimeType=x-scheme-handler/denarius;
Categories=Finance;
